html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table-responsive {
  overflow-x: auto;
  position: relative;
}

th.sticky-action,
td.sticky-action {
  position: sticky;
  right: 0;
  background: white;
  z-index: 2;
}

th.sticky-action {
  z-index: 3;
}